@use "vars";

.ysp-broker-cards {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr;

    flex-wrap: wrap;
    column-gap: vars.$broker-column-gap;
    row-gap: vars.$broker-row-gap;

    @media screen and (min-width: vars.$breakpoint-med){
        grid-template-columns: 1fr 1fr; 
    }

    .ysp-broker-card {
            
        display: flex;

        border-radius: 0px 12px 12px 0px;
        border: 2px solid #E4ECF7;
        border-left: 4px solid vars.$featured-color;
        background: #FFF;

        padding: 30px;

        box-shadow: 0px 1px 4px 0px rgba(24, 26, 32, 0.07);

        .broker-image {
            width: 80px;
            min-width: 80px;
            max-width: 80px;
            height: 80px;

            object-fit: cover;
            object-position: top center;
            
            border-radius: 100%;

            margin-right: 15px;

            @media (min-width: vars.$breakpoint-large) {
                min-width: 150px;
                max-width: 150px;
                height: 150px;
                margin-right: 30px;
            }

        }

        .broker-info {
            p {
                margin: 0;
            }

            a.broker-anchor{
                text-decoration: none;
                color: vars.$main-text-color;
            }

           .broker-name-container {
                display: flex;           
                align-items: center;
           }

        }
    }
}