$h1-size: 30px;
$h2-size: 18px;
$h3-size: 14px;

$h1-weight: 600;

$main-text-color: var(--main-text-color);
$main-background-color: var(--main-background-color);

$secondary-text-color: var(--secondary-text-color);
$secondary-background-color: var(--secondary-background-color);

$button-text-color: var(--button-txt-color);
$button-background-color: var(--button-bg-color);
$button-bg-color: var(--button-bg-color);

$featured-color: var(--button-bg-color);

$white-color: var(--white);

$divider-color: #CBD5E1;
$border-color: #D9D9D9;

$breakpoint-small: 540px; // 540px
$breakpoint-med: 720px; // 720px
$breakpoint-large: 960px; // 960px
$breakpoint-x-large: 1200px; // 1200px

$broker-column-gap: 19px;
$broker-row-gap: 40px;

$max-width: 1440px;

:root {
    --main-text-color: inherit;
    --main-background-color: inhert;
    --secondary-text-color: inherit;
    --secondary-background-color: inherit;
    --white: #FFFFFF;

    --button-bg-color: #94A3B8;
    --button-txt-color: #fff;
}